.idea
*.iml
target
out
build
!docker/build
classes
web-app/WEB-INF/classes
.classpath
.project
.settings
.factorypath
.springBeans
.gradle
gradle

*.log
application.yml

docker/*.jar
docker/*.jar.original
docker/application.yml

frontend/node_modules
frontend/generated
web/src/main/resources/static